# requirements.txt for the SMS Clothing Search App

# Flask for creating the web app
Flask

# Twilio for handling incoming SMS and sending replies
Twilio

# Requests for making HTTP requests to download images and interact with APIs
requests

# OpenAI for using the GPT-4 API to analyze text descriptions
openai

# Werkzeug for secure and advanced web utilities (dependency of Flask)
Werkzeug
pydantic

# Gunicorn for deploying Flask on a production server (if hosting outside of local environment)
Gunicorn

# Additional libraries that might be useful
# - Pillow for handling images if image pre-processing is required
# - python-dotenv to load environment variables from a .env file for managing API keys
Pillow
python-dotenv


flask_sqlalchemy
sqlalchemy
psycopg2

flask_cors

Flask_Migrate